html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  border: 1px solid black;
}

nav {
  background-color: gray;
  float: left;
  width: 10%;
  height: 100%;
}

button {
  background-color: gray;
  width: 100%;
}

button:hover {
  border: 1px solid aqua;
}

h2 {
  float: left;
  width: 90%;
  font-size: medium;
}

.calendar {
  float: left;
  width: 90%;
  height: 100%;
}

.month {
  width: 100%;
  height: 10%;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.month button {
  background-color: rgba(0, 0, 0, 0);
  width: 5%;
}

.monthbox {
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0;
  background-color: white;
  padding: 0;
}

.daybox {
  border: 1px solid aqua;
  background-color: whitesmoke;
}

.taskWindow {
  position: fixed;
  width: 15%;
  top: 0;
  left: 10%;
  display: flex;
  z-index: 2;
  background-color: gray;
  border: 1px solid blue;
}

.form {
  width: auto;
}

@media (max-width: 700px) {
  nav, .calendar {
    width: 100%;
    height: auto;
}}